* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(243, 234, 243);
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: rgb(240, 218, 240);
}

.quote {
  font-size: 2em;
}

.avatar {
  height: 22em;
  width: 20em;
}

.about {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.pic {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: center;
}

.flex ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.flex li {
  margin-top: 10px;
}

.flex li + li {
  margin-left: 25px;
}

.flex img {
  height: 100%;
  border: solid 1px rgba(128, 0, 128, 0.363);
  border-radius: 3px;
}

.flex p {
  margin: 0;
  margin-top: 15px;
}

a {
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: rgb(206, 52, 25);
  /* background-color: rgb(124, 78, 199); */
}

.myskills {
  font-size: 3em;
}

.skills {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 2em;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 33%; */
  padding-left: 0;
  margin: 15px 10px;
  font-size: 20px;
  font-weight: bold;
}

.skills li img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 5px;
}

div.projects {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  height: 75%;
}

.thx {
  font-size: 3em;
}

.form-house {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 3em;
  list-style-type: none;
}

.button {
  padding-bottom: 3em;
}

/* .footernav {
  padding-right: 4em;
} */
